[submodule "crypto/src/main/resources/bls-key-pairs"]
	path = crypto/src/main/resources/bls-key-pairs
	url = https://github.com/harmony-dev/bls-key-pairs
[submodule "test/src/test/resources/eth2.0-spec-tests"]
	path = test/src/test/resources/eth2.0-spec-tests
	url = git@github.com:ethereum/eth2.0-spec-tests.git
