<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">

  <Appenders>

    <Routing name="validatorFile">
      <Routes pattern="$${ctx:validatorIndex:-X}">
        <Route>
          <File name="dummy" fileName="logs/validator-${ctx:validatorIndex:-X}.log" append="false">
            <PatternLayout>
              <Pattern>%d{HH:mm:ss.SSS} [%X{validatorTime}] %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
          </File>
        </Route>
      </Routes>
    </Routing>

    <File name="allFile" fileName="logs/all.log" append="false">
      <PatternLayout>
        <Pattern>%d{HH:mm:ss.SSS} [%X{validatorTime}] %p %c{1.} [%t] #%X{validatorIndex} %m%n</Pattern>
      </PatternLayout>
    </File>

    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout>
        <Pattern>%d{HH:mm:ss.SSS} [%t] %-5level #%X{validatorIndex} %logger{36} - %msg%n</Pattern>
      </PatternLayout>
      <!-- ThresholdFilter level="info"/ -->
      <!--
            <ContextMapFilter onMatch="ACCEPT" onMismatch="DENY" operator="or">
              <KeyValuePair key="mdcKey" value="value1"/>
            </ContextMapFilter>
      -->
    </Console>
  </Appenders>
  <Loggers>
    <Logger name="simulator" level="info" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="peer" level="info" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>

    <Root level="trace">
      <AppenderRef ref="validatorFile"/>
      <AppenderRef ref="allFile"/>
    </Root>
  </Loggers>
</Configuration>
